.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    padding: 2rem;
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    min-width: 700px;
    width: 100%;
    padding: 1rem;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
    border: 1px solid #ccc;
}

.textInput input {
    width: 70%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    /* padding: 10px 15px; */
    border-radius: 5px;
}

.wrapper .textInput {
    display: flex;
    justify-content: space-between;
}
button {
    width: 15%;
    padding: 14px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    background: #ffc107;
}
.controls{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
